*{
  margin: 0;
  padding: 0;
}

.text
{
  font-size: 50px;
  color : white;
  font-weight: 800;
  
}

.line1
{
  position: absolute;
  top: 16%;
  right: 130px;
  border: 5px;
  background-color: white;
  width: 200px;
  height: 10px;
}

.line2
{
  position: absolute;
  top: 68%;
  right: 130px;
  border: 5px;
  background-color: white;
  width: 270px;
  height: 10px;
}

.text1
{
  position: absolute;
  top: 23%;
  right: 130px;
  animation-name: text_one;
  animation-duration: 3s;
  animation-iteration-count: 1;
}
@keyframes text_one{
  0% {opacity: 0;}
  15% {opacity: 0;}
  25% {opacity: 1;}
  100% {opacity: 1;}
}

.text2
{
  position: absolute;
  top:38%;
  right: 130px;
  animation-name: text_two;
  animation-duration: 3s;
  animation-iteration-count: 1;
}
@keyframes text_two{
  0% {opacity: 0;}
  40% {opacity: 0;}
  50% {opacity: 1;}
  100% {opacity: 1;}
}

.text3
{
  position: absolute;
  top: 53%;
  right: 130px;
  animation-name: text_three;
  animation-duration: 3s;
  animation-iteration-count: 1;
}
@keyframes text_three{
  0% {opacity: 0;}
  65% {opacity: 0;}
  75% {opacity: 1;}
  100% {opacity: 1;}
}

.text4
{
  position: absolute;
  top: 78%;
  right: 200px;
  font-size: 20px;
  background-color: grey;
  text-align: center;
  padding: 10px;
  width: 130px;
  transition: all 1s;
  text-decoration: none;
  color: white;
  animation-name: text_four;
  animation-duration: 3s;
  animation-iteration-count: 1;
}
@keyframes text_four{
  0% {opacity: 0;}
  80% {opacity: 0;}
  95% {opacity: 1;}
  100% {opacity: 1;}
}

.text4:hover
{
  position: absolute;
  top:78%;
  right: 130px;
  font-size: 20px;
  background-color: white;
  color: black;
  text-align: center;
  padding: 10px;
  width: 270px;
}

.text5
{
  position: absolute;
  top: 95%;
  left: 15px;
  font-size: 15px;
  color : white;
  font-weight: 800;
}

.backimage
{
  width: 100%;
  height: 100vh;
  background-image:url(https://github.com/dev-SCPLOK/webproject01/blob/master/photo/roof2.jpg?raw=true);
  background-size: cover;
  background-repeat: no-repeat;
}



